<footer class="site-footer">

  <div class="wrapper container-fluid" style="">

    

    <div class="col-sm-5 footer-col-wrapper">
      <div class="">
        
        <h2 class="footer-heading">{{ site.title }}</h2>
        <ul class="contact-list">
          <li>By: Ashwin Ramaswami</li>
          <li><a href="mailto:{{ site.email }}">{{site.email}}</a></li>
        </ul>

      </div>

    </div>

  

  <div class="col-sm-7 pull-right" style="text-align:right;">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- medium rectangle -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:250px"
     data-ad-client="ca-pub-9328159054616225"
     data-ad-slot="3526220591"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>

</div>

</footer>
